<!DOCTYPE html>
<html>
<head>
    <title><%= book.name %></title>
    <link rel="stylesheet" href="/css/book.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>    
    <%- include('parts/header.ejs') %>
    <main>
    <div class="book-align">
    <div class="book-one-card">
        <table><tr><td>
        <div class="one-book-image">
            <img src="<%= book.imageUrl %>" alt="<%= book.name %> cover">
        </div></td>
        <td><div class="one-book-details">
            <h1><%= book.name %></h1>
            <p class="author">Автор - <%= book.author %></p>
            <p class="description"><%= book.description %></p>
            <p class="tags"><strong>Тэги:</strong> <%= book.tags.join(', ') %></p>
            <p class="page-count"><strong>Количество страниц:</strong> <%= book.pageCount %></p>
            <p class="price"><strong>Цена/шт:</strong> <%= book.price.toFixed(2) %> BYN</p>
            <form action="/pre-order" method="post">
                <input type="hidden" name="bookId" value="<%= book._id %>">
                <h3><label for="quantity">Количество:</label></h3>
                <input type="number" name="quantity" id="quantity" value="1" min="1" max="300">
                <button type="submit">Добавить в корзину</button> <!--на обработчик навешиваем "создать предзаказ"
                потом записываем в документ этот предзаказ и сразу же генерируем заказ
                при дополнительном добавлении продуктов также генерируем предзаказ + добавление в уже имеющийся заказ
            
                то есть обработчик этой кнопки создает предзаказ и проверяет, был ли уже заказ (если не было, создаем, иначе добавляем)-->
            </form>
        </div>
        </td></tr></table></div>
    </div>
    <script> 
        function addToCart(){

            const form = document.querySelector('form');
            form.addEventListener('submit', (event) => {
            event.preventDefault();
            const bookId = document.querySelector('#bookId').value;
            const quantity = document.querySelector('#quantity').value;

            const formData = {
                bookId: bookId,
                quantity: quantity,
            };

            var user;
            accessToken = document.cookie;
            console.log(accessToken);
            fetch('/pre-order', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${accessToken}`,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData) })
            .then(response => {
            if (response.ok) {
                return response.json();
            } else {
            throw new Error('Failed to fetch user data');
            }
            })
            .then(data => { ////////////////////////////вот здесь нужно получить заказы
                console.log(data);
                //user = data;
            })
            .catch(error => {
                res.render('./500.ejs');
            });
        },
    )};
    //addToCart();  //////////////////////////////////дофигачить именно кнопку!!!!!!!!!!!!!!
    </script>
    </main>
    <%- include('parts/footer.ejs') %>
</body>
</html>
