<!DOCTYPE html>
<html>
<head>
    <title>BookSHOP</title>
    
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <%- include('parts/header.ejs') %>
    <div class="book-cards">
        <% books.forEach(book => { %>
            <div class="book-card" id="<%= book._id %>" >
                <a href="/books/<%= book._id %>">
                <div class="book-image">
                    <img src="<%= book.imageUrl %>" alt="<%= book.name %>">
                </div></a>
                <div class="book-details">
                    <!--<p><%= book.description %></p>
                    <p>Tags: <%= book.tags.join(', ') %></p>
                    <p>Page count: <%= book.pageCount %></p>-->
                    <p><%= book.author %></p>
                    <p>Цена/бел.р.: <%= book.price %></p>
                    <p>На складе: <%= book.count %></p> 
                </div>
            </div>
        <% }); %>      
    </div> 
    <script>
        /*function onClickDiv(bookId){
            const idData = {
                bookId: bookId,
            };

            fetch('/book/bookId', {
            method: 'GET', 
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(idData) })
            .then(response => {
            if (response.ok) {
                return response.json();
            } else {
            throw new Error('Failed to fetch user data');
            }
            })
            .catch(error => {
            console.error(error);
            });
        }*/
    </script>

    <%- include('parts/footer.ejs') %>
</body>
</html>
