<!DOCTYPE html>
<html>
<head>
    <title>Корзина</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>    
    <%- include('parts/header.ejs') %>

    
    <% if ( user.order ) { %> <!--внесла перчинку в запись строки, теперь оно ломается на ;-->
    <h1>Thank you for your order!</h1>
    <p>Your order has been received and is being processed. Here are the details:</p>
    <% user.order.forEach(function(order) { %> <!--здесь оно тоже было-->
    <ul>
      <li><strong>Order Name:</strong></li>
      <li><%= order.orderName %></li>
      <li><strong>Order number:</strong> <%= order._id %></li>
      <li><strong>Items:</strong></li>
      <ul>
        <% order.preOrder.forEach(function(item) { %>
          <li><%= item.bookName %> - <%= item.bookPrice %> - <%= item.quantity %></li>
        <% }) %>
      </ul>
      <li><strong>Total:</strong> <%= order.total %></li>
      <form action="/cart-delete-item" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="orderId" value="<%= order._id %>">
        <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
      </form>
      <li><strong>Status:</strong> <%= order.status %></li>
    </ul>
    <% }) %>

    <% }else{ %>
      <h1>No Products</h1>
      <%}%>
  

    
    <%- include('parts/footer.ejs') %>
</body>
</html>
