<!DOCTYPE html>
<html>
<head>
    <title>Корзина</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>    
    <%- include('parts/header.ejs') %>
    <% if (orders != undefined && orders != null) { %>
    <% var total = 0; %>
    <div id="orderList">
    <table><% preOrders.forEach(function(item, index) { %>
      <tr>
        <td>
          <a href="/books/<%= item.bookId %>">
            <div class="book-image">
                <img src="<%= item.imageUrl %>" alt="<%= item.bookName %>">
            </div></a>
        </td>
        <td>
          <p>Название книги: <i><%= item.bookName %></i></p>
          <p>Цена за штуку: <i><%= item.bookPrice %> BYN</i></p>
          <p><label for="quantity">Количество:   
          <input type="number" id="quantity_<%= index %>" size="6" min="1" max="1000" value="<%= item.quantity %>" onchange="updateQuantity(<%= index %>, this.value)">
          <button id="updateButton_<%= index %>" class="update-data-button" onclick="updateQuantity(<%= index %>, document.getElementById('quantity_<%= index %>').value)">Сохранить</button></label></p>
          <p><strong>Суммарно за предзаказ:</strong> <i id="total_<%= index %>"><%= item.bookPrice * item.quantity %> BYN</i></p>
          <% total += item.bookPrice * item.quantity; %>
          <br><div align="center"><button id="deleteButton_<%= index %>" class="update-data-button preorder" onclick="deletePreorder(<%= index %>)">Удалить</button></div>
          <br></td>
      </tr>
      <% }) %></div>

      <input type="hidden" id="preOrdersData" value='<%- JSON.stringify(preOrders) %>'>

      <script>
        var preOrders = JSON.parse(document.getElementById('preOrdersData').value);
        function updateQuantity(index, newQuantity) {
          console.log(index)
          preOrders[index].quantity = parseInt(newQuantity);
          updateTotal();
          var item = preOrders[index];
          var total = item.bookPrice * item.quantity;
          document.getElementById('total_' + index).innerHTML = total.toFixed(1) + " BYN";
        //подготовка к отправке на сервер      
          var preOrderId = preOrders[index]._id; 
          var updatedData = { preOrderId: preOrderId, quantity: newQuantity };

          var updateButton = document.getElementById('updateButton_' + index);
          updateButton.onclick = function() {
            var url = '/auth/me/' + preOrderId + '/update'; 
            var request = new XMLHttpRequest();
            request.open('POST', url);
            request.setRequestHeader('Content-Type', 'application/json');
            request.onreadystatechange = function() {
              if (request.readyState === XMLHttpRequest.DONE) {
                if (request.status === 200) { console.log('Заказ успешно обновлен в базе данных');
                } else { console.error('Произошла ошибка при обновлении заказа');}
              }
            };
          request.send(JSON.stringify(updatedData));
          };
        }

        function updateTotal() {
          var total = preOrders.reduce(function(acc, item) {
            return acc + (item.bookPrice * item.quantity);
          }, 0);
          document.getElementById('orderTotal').innerHTML = total.toFixed(1) + " BYN";
        }

        function deletePreorder(index) {
        if (confirm("Вы уверены, что хотите удалить заказ?") == true){
          var preOrderId = preOrders[index]._id; 
          var orderId = document.getElementById('orderCancel').value;
          var dataToDelete = { orderId: orderId, preOrderId: preOrderId };
          var deleteButton = document.getElementById('deleteButton_' + index);
          deleteButton.onclick = function() {
            var url = '/auth/me/' + preOrderId + '/delete'; 
            var request = new XMLHttpRequest();
            request.open('POST', url);
            request.setRequestHeader('Content-Type', 'application/json');
            request.onreadystatechange = function() {
              if (request.readyState === XMLHttpRequest.DONE) {
                if (request.status === 200) { console.log('Заказ успешно обновлен в базе данных'); alert("Успешно удалено!")
                } else { console.error('Произошла ошибка при обновлении заказа');}
              }
            };
          request.send(JSON.stringify(dataToDelete));
          }};
        }
      </script>
    
    <% orders.forEach(function(order, index) { %>
      <tr colspan="2" align="center">
        <td rowspan="2"><p>Итоговая сумма: <span id="orderTotal"><%= preOrders.reduce((acc, item) => acc + (item.bookPrice * item.quantity), 0).toFixed(1) %> BYN</span></p></td>
      </tr>
      <tr colspan="2"><td><ul>
      <li><strong>Адрес доставки: </strong>
      <input type="text" id="Adress" value="<%= order.Adress %>" placeholder="<%= order.Adress %>" >
      <input type="button" class="update-data-button" onclick="saveOrderAdress()" value="Сохранить"> </li>
      <strong>Статус заказа:</strong> <input type="button" class="update-data-button order" onclick="changeStatus()" value="<%= order.status %>" id="orderStatus">
      <input type="hidden" name="orderId" value="<%= order._id %>" id="orderCancel">
      <input type="button" class="update-data-button order" onclick="changeStatusToDelete()" value="Удалить"> 
    </ul></td>
    
  <script>
  function saveOrderAdress() {
  var orderAdressInput = document.getElementById('Adress');
  var orderAdress = orderAdressInput.value;
  var orderId = document.getElementById('orderCancel').value;
  var updatedData = { orderId: orderId, Adress: orderAdress }; 
  var url = '/auth/me/' + orderId + '/update/adress';
  var request = new XMLHttpRequest();
  request.open('POST', url);
  request.setRequestHeader('Content-Type', 'application/json');
  request.onreadystatechange = function() {
    if (request.readyState === XMLHttpRequest.DONE) {
      if (request.status === 200) {
        console.log('Имя заказа успешно обновлено в базе данных');
      } else { console.error('Произошла ошибка при обновлении имени заказа');}
    }
  };
  request.send(JSON.stringify(updatedData));
}

  function changeStatus() {
  event.preventDefault();
  var orderId = document.getElementById('orderCancel').value;
  var statusButton = document.getElementById('orderStatus');
  var previousStatus = statusButton.value;
  var status = '<%= order.status %>';
  var url = '/auth/me/' + orderId + '/update/status';
  var request = new XMLHttpRequest();
  request.open('POST', url);
  request.setRequestHeader('Content-Type', 'application/json');
  request.onreadystatechange = function() {
    if (request.readyState === XMLHttpRequest.DONE) {
      if (request.status === 200) {
        console.log('Статус заказа успешно обновлен в базе данных');
        if (previousStatus == "К оплате") statusButton.value = "Оплачено";
	      if (previousStatus == "Формируется..") statusButton.value = "К оплате";
      } else {
        console.error('Произошла ошибка при обновлении статуса заказа');
      }
    }
  };
  request.send(JSON.stringify({ status: status }));
}
function changeStatusToDelete(){
  event.preventDefault();
  if (confirm("Вы уверены, что хотите удалить заказ?") == true){
  var orderId = document.getElementById('orderCancel').value;
  var statusButton = document.getElementById('orderStatus');
  var previousStatus = statusButton.value;
  var status = '<%= order.status %>';
  var url = '/auth/me/' + orderId + '/update/status/delete';
  var request = new XMLHttpRequest();
  request.open('POST', url);
  request.setRequestHeader('Content-Type', 'application/json');
  request.onreadystatechange = function() {
    if (request.readyState === XMLHttpRequest.DONE) {
      if (request.status === 200) {
        console.log('Статус заказа успешно обновлен в базе данных');
        statusButton.value = "Удалено";
      } else {
        console.error('Произошла ошибка при обновлении статуса заказа');
      }
    }
  };
  request.send(JSON.stringify({ status: status }));
  }
}
  </script>

<h1>Спасибо за Ваш заказ!</h1>
<div class="order-description">
  <p>Завершением текущего заказа будет считаться его оплата.</p>
</div>
  <%})%>
  
  </tr></table>
  <h1>Возвращайтесь за покупками!</h1>
  <div class="history-button"><a href="/cart-history"><input type="button" class="update-data-button history" value="История заказов"> </a></div> 
    <% }else{ %>
      <h1><br>No Products<br></h1><br>
      <%}%>
    <%- include('parts/footer.ejs') %>
</body>
</html>
