<!DOCTYPE html>
<html>
  <head>
    <title>User Profiles</title>
    <link rel="stylesheet" href="/css/index.css">
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      h1 {
        color: #333;
      }
      .user-card {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
      }
      .user-card p {
        margin: 5px 0;
      }
      .delete-button {
        background-color: #dd5ab3;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <%- include('parts/header.ejs') %>
    <h1>Пользовательские аккаунты</h1>
    <% users.forEach((user, index) => { %>
      <div class="user-card">
        <p><strong>Имя:</strong> <%= user.fullName %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <p><strong>Роль:</strong> <%= user.role %></p>
        <button class="delete-button" onclick="deleteUser(<%= index %>)">Удалить</button>
        <input type="hidden" id="user-id" value='<%- JSON.stringify(user) %>'>
      </div>
    <% }); %>

    <script>
      function deleteUser(){
            event.preventDefault();
            
            if (confirm("Вы уверены, что хотите удалить пользователя?") == true){
            const userId = document.querySelector('#user-id').value;

            const formData = {
                userId: userId,
            };
            var path = '/users/' + userId;
            fetch(path, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData) })
            .then(response => {
            if(response.ok) alert("Успешно обновлено!")})
            .catch(error => {
                res.render('../500.ejs');
            })}};
    </script>
    
    <%- include('parts/footer.ejs') %>
  </body>
</html>
